@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
:root{
  --bg-color-primary: #2D28FF;
  --bg-color-secondary: #fff;
  --bg-color-tertiary: #C7C7C7; 

  --font-color-primary: #fff;
  --font-color-secondary: #000;
}
.container{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
a{
  text-decoration: none;
  color: unset;
}

.standar-text{
    margin-top: 20px;
}

.standar-text h1{
    font-size: 24px;
    font-weight: 700;
}