.header-nav{
    background-color: var(--ms-bg-color-secondary);
    height: 70px;
    width: 100%;
    color: var(--ms-font-color-secondary);
    display: flex;
    align-items: center;
}
.header-nav h1{
    font-size: 20px;
}
